<!-- <h1>ART-LIST</h1> -->
<div class="start_link">
  <%= link_to 'New Project', new_project_path %>
</div>
<h1>WELCOME TO ARTLIST!</h1>

<p class ="intro">
  Track your jobs, and save time on ARTLIST.
</p>
 <%#= link_to 'Current Projects', projects_path %>
